body
{
    background-color: #111;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    width: 100%;   
}
table, td, tr, tbody {
    margin: 0;
    border: none;
    padding: 0;
    border-collapse: collapse;
}
#wrapperMain
{
    width: 100%;
    margin:  10px auto 0 auto;
}


#mainTable {
    width: 100%;
}
#slide, #drawing {
    width: 800px;
    height: 600px;
}
#rightArea, #prevSlide {
    width: 80px;
    min-width: 80px;
    background: #888;
    height: 600px;
    padding: 0;
}
#rightArea #pen, #rightArea #startLaserPointer {
    border-bottom: 1px solid #ddd;
}


#pen, #erase, #startLaserPointer {
    background: #888;
    width: 80px;
    height: 79px;
}
#nextSlide {
    width: 80px;
    height: 360px;
    border-bottom: 1px solid #ddd;
}
#rightArea td.active {
    background: #ccc;
}


#rightArea #pen
{
    background-image: url(pencil.png);
}
#rightArea #erase
{
    background-image: url(eraser.png);
}
#rightArea #startLaserPointer
{
    background-image: url(pointer.png);
}

#notes .inner {
    margin: 10px 10px;
    color: #fff;
}
#laserpointer
{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    
    
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.98) 22%, rgba(255,0,0,0.74) 41%, rgba(255,0,0,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(2%,rgba(255,255,255,1)), color-stop(20%,rgba(255,255,255,1)), color-stop(22%,rgba(255,255,255,0.98)), color-stop(41%,rgba(255,0,0,0.74)), color-stop(100%,rgba(255,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 2%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.98) 22%,rgba(255,0,0,0.74) 41%,rgba(255,0,0,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 2%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.98) 22%,rgba(255,0,0,0.74) 41%,rgba(255,0,0,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 2%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.98) 22%,rgba(255,0,0,0.74) 41%,rgba(255,0,0,0) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 2%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.98) 22%,rgba(255,0,0,0.74) 41%,rgba(255,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ff0000',GradientType=1 );

}

#palmRest
{
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    z-index: 10000;
    width: 800px;
}

#strokePalette
{
    display: block;
    position: absolute;
    height: 130px;
    width: 130px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
}


.strokeColor
{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1px solid #000;
}

.strokeSize
{
    border-radius: 50%;
    border: solid thin black;
    background-color: black;
    margin: auto;
}
.strokeTD
{
    height: 25px;
    width: 25px;
}
.strokeTDEmpty
{
    height: 10px;
    width: 10px;
}